.slider {
	max-width: 1920px;
	max-height:1280px;
	overflow: hidden;
	/*background: url(../images/sliderimage1.png);*/
	background-size: contain;
	background-repeat: no-repeat;
	/*padding:30px;*/
	position: relative;
}

.flex{
	display:flex;
}

.slider img {
	width:100%;
}

.logo {
	width:100%;
	position: absolute;
	top: 30px;
	left:30px;
}

.logo-text img:nth-child(1) {
	width:6%;
}

.logo-text img:nth-child(2) {
	width:4.9%;
}

.logo-text img:nth-child(3) {
	width:4.9%;
}

.logo-text img:nth-child(4) {
	width:5.4%;
}

.dot img {
	width:2.3%;
}

.dot {
	padding-left: 13%;
}

.burger {
	position: absolute;
	top:30px;
	right:30px;
	width:45px;
	height: 45px;
	/*float:right;*/
}

.burger-line {
	width:45px;
	height: 5px;
	background: white;
}

.burger-line:nth-child(n+2) {
	margin-top: 5px;
}

.burger-line:nth-child(2) {
	width:35px;
	margin-left: 10px;
}

.ball {
	position: absolute;
	border-radius: 50%;
}

.sm-ball {
	width: 1.6%;
	padding-top: 1.6%;
	
}

.red {
	background: #FF0000;
}

.balls .sm-ball:nth-child(1) {
	top: 26%;
    left: 13%;
}

.balls .sm-ball:nth-child(2) {
	top: 28%;
    left: 54%;
}

.balls .sm-ball:nth-child(3) {
	top:54%;
	left:2%;
}

.balls .sm-ball:nth-child(4) {
	top: 45%;
    left: 69%;
}

.balls .md-ball:nth-child(5) {
	top: 38%;
    left: 81%;
    opacity: 0.5;
}

.balls .md-ball:nth-child(6) {
	top: 3%;
    left: 79%;
    opacity: 0.5;
}

.balls .md-ball:nth-child(7) {
	top: 3%;
    left: 45%;
    opacity: 0.5;
}

.balls .md-ball:nth-child(8) {
	top: 57%;
    left: 54%;
    opacity: 0.5;
}

.balls .lg-ball:nth-child(9) {
	top: 28%;
    left: 22%;
    opacity: 0.5;
}

.balls .lg-ball:nth-child(10) {
	top: 9%;
    left: 68%;
    opacity: 0.9;
}



.white-opacity {
	background: white;
	opacity: 0.5;
}

.md-ball {
	width: 3.1%;
	padding-top: 3.1%;
}

.lg-ball {
	width: 7.8%;
	padding-top: 7.8%;
}

.xl-ball {
	width: 10.4%;
	padding-top: 10.4%;
	opacity: 1;
	top:50%;
	
}

.xl-ball-left {
	left:0;
	transform: translate(-50%, -70%);
}

.xl-ball-right {
	right:0;
	transform: translate(50%, -70%);
}

.slider-text {
	color:white;
	position: absolute;
    text-align: right;
    right: 30px;
    bottom: 30px;
}

.slider-title {
	font-size: 4vw;
}

.slider-date {
	font-size: 5vw;
}

.service {
	padding-top: 5%;
	padding-bottom: 5%;
	background: white;
	text-transform: uppercase;
	text-align: center;
}

.service-types {
	margin: auto;
    width: 63.7%;
	display: flex;
	justify-content: space-between;
	margin-top: 5%;

}

.service-item {
	background: #EBE8DE;
	width: 20vw;
    height: 20vw;
    font-size: 4vw;
}

.service-title {
	font-size: 4vw;
}

.map {
	width:90%;
	margin:auto;
}

.contact-info {
	background: #EBE8DE;
	width:40%;
}

.contact {
	position: relative;
}

.contact-form {
	width:80%;
	position: absolute;
	bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
}

.form-content {
	background: white;
	padding-left: 7%;
}

.form-left input {
	background: #F2F2F2;
	border: none;
}

form {
	width:60%;
}


.form-right {
	margin-left: 7%;
}

.form-content > p {
	font-size:4vw;
}

.contact-info > p {
	font-size: 4vw;
	padding-top: 5%;
    padding-left: 5%;
}

.form-left input {
	padding: 5%;
}

.form-left input {
	width:100%;
}

.form-left {
	width:40%;
}